/* CSS for initial page */
button {
    border-radius: 5px;
    background-color: #1f4a6d;
    color: white;
    padding: 5px 8px;
  }
  
/* Font color*/
  a {
    color: black;
  }
  
/* Header frame*/
  header {
    display: inline-flex;
    justify-content: space-between;
    padding: 2px;
  }
  
/* Begin frame the main section for display*/
  main {
    margin: auto;
    max-width: 625px;
    padding: 10px;
  }

  main section h1 {
    font-size: 35px;
    margin: 2px 0;
  }
  
  main section h2 {
    font-size: 25px;
    margin: 2px 0;
  }
  
  main section p {
    font-size: 25px;
    margin: 10px 0;
  }
  
/* End frame the main section for display*/
  main section hr {
    margin: 4px 0;
  }
  
/* Start quiz dialog*/
  main #start-quiz h1, main #start-quiz p {
    text-align: center;
  }
  
/* Start quiz button*/
  main #start-quiz #start-btn {
    border-radius: 5px;
    position: relative;
    left: 40%;
  }
  
/* Questions feedback box display*/
  main #numbers-box {
    display: flex;
    flex-wrap: wrap;
  }
  
/* Questions feedback box display*/
  main #numbers-box span {
    background-color: #3d77b9;
    font-size: 12px;
    color: white;
    width: 20px;
    padding: 4px 0;
    text-align: center;
    transition: 0.25s;
  }
  
/* Questions correct feedback box display*/
  main #numbers-box span.correct {
    background-color: #6ab93d;
  }
  
/* Questions wrong feedback box display*/
  main #numbers-box span.wrong {
    background-color: #b93d47;
  }
  
/* Questions display*/
  main #question-page #answer-list {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
  }
  
/* Questions display*/
  main #question-page #answer-list button {
    margin: 4px;
  }
  
/* Questions display*/
  main #question-page #feedback {
    font-weight: 600;
  }
  
/* Initials for High score*/
  main #get-name #score-display {
    font-weight: 600;
  }
  
/* Initials for High score*/
  main #get-name #initials-input {
    margin-right: 10px;
    border: 0px;
    border-bottom: 1px solid black;
    padding: 0 5px;
    text-align: center;
    width: 65px;
  }
  
/* Initials for High score*/
  main #get-name #initials-input:focus {
    border-bottom: 2px solid #0f92fd;
    outline: none;
  }
  
/* High score tables*/
  main #high-score #highscore-list {
    border: 2px solid #1f4a6d;
    margin-bottom: 5px;
    font-family: monospace;
  }
  
/* High score tables*/
  main #high-score #highscore-list div {
    padding: 8px 12px;
  }
  
/* Color row for Highscore odd rows*/
  main #high-score #highscore-list div:nth-child(odd) {
    background-color: rgba(31, 74, 109, 0.25);
  }
  
/* Color row for Highscore even rows*/
  main #high-score #highscore-list div:nth-child(even) {
    background-color: rgba(31, 74, 109, 0.1);
  }
